
.ARTICLE          {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt;  
			font-style: normal; 
			font-weight: normal; 
			color: #003399}

.BOOK            {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt;  
			font-style: normal; 
			font-weight: normal; 
			color: #003399}

.HEADER           {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 12pt; 
			font-style: normal; 
			font-weight: bolder; 
			color: #003399}

.AUTHOR           {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; 
			font-weight: bolder;
			color: black; }

.AFFILIATION      {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; 
			font-weight: bolder;
			color: black; }

.ADDRESS          {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; 
			font-weight: bolder;
			color: black; }

.TITLEPAGE        {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 14pt; 
			font-style: normal; 
			font-weight: normal; 
			color: #CC9933}

.TITLE            {  font-family: Arial, Helvetica, sans-serif; 
			font-size: 14pt; 
			font-style: normal; 
			font-weight: bolder; 
			color: #CC9933}

.ABSTRACT         { color: black; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt; 
			font-style: normal; }

.REVHISTORY TABLE { color: black; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; }

.REVHISTORY TABLE { color: black; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; }

.TOC              { color: black; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt; 
			font-weight: bold; }

.CHAPTER          {	font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt;  
			font-weight: bold;
			color: #003399}

.CHAPTER TABLE    {	font-family: Arial, Helvetica, sans-serif; 
			font-size: 14pt;  
			font-weight: bold;
			color: black; }

.SECT1            {	font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt;  
			font-weight: bold;
			color: #003399}

.SECT1 P          {	font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt;  
			font-weight: bold;
			color: #003399}

.SECT1 H1         {	color: black; }
.SECT1 H2         {	color: black; }

.SECT2            {	font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt;  
			font-weight: bold;
			color: #003399}

.SECT2 P          {	font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt;  
			font-weight: bold;
			color: #003399}

.SECT2 H1         {	color: black; }
.SECT2 H2         {	color: black; }

.NAVHEADER        { color: blue;  
			font-family: Arial, Helvetica, sans-serif; 
			font-size:   10pt;
			font-weight: bold; }

.NAVHEADER TABLE   { color: blue;  
			font-family: Arial, Helvetica, sans-serif; 
			font-size:   10pt;
			font-weight: bold; }

.NAVFOOTER        { color: blue;  
			font-family: Arial, Helvetica, sans-serif; 
			font-size:   10pt;
			font-weight: bold; }

.NAVFOOTER TABLE   { color: blue;  
			font-family: Arial, Helvetica, sans-serif; 
			font-size:   10pt;
			font-weight: bold; }

.FILENAME         { 	font-family: Courier New, Courier, mono;
			font-size: 10pt; 
			font-weight: bold;
			color: #003399}

.PROGRAMLISTING   { 	font-family: Courier New, Courier, mono;
			font-size: 10pt; 
			font-weight: bold;
			color: #003399}


